
<div class='sheet-character'>
    <div class="2colrow">
        <div class="col">
            include personal.pug
            include roles.pug
            include equipment.pug
            include armorsets.pug  
            include hunterpowers.pug
            include powers.pug
            include effects.pug   
        </div>
        <div class="col">
            include attributes.pug    
            include skills.pug
        </div>
    </div>
</div>

//-
    <div class='sheet-character'>
        <div class="container">
            include personal.pug
            include skills.pug   
            include attributes.pug
            include hunterpowers.pug
            include powers.pug
            include roles.pug
            include equipment.pug
            include armorsets.pug
            include effects.pug
        </div>
    </div>

