<div class="box">
    <h2>Aktive Effekte</h2>
    <img class="feather" src="http://www.handsongaming.de/public/images/hexxen/Feder.png" />
    <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
    <fieldset class="repeating_effects">
        <div class="fieldsetcontainer">
            <div class="display">
                <span name="attr_name"></span>
                <input class="hideempty_toggle" type="hidden" name="attr_target"/>
                <span class="hideempty">(
                    <span name="attr_target" data-i18n-dynamic=""></span>
                    <span name="attr_bonus"></span>
                    <span>)</span>
                </span>
            </div>
            <input class="details-flag" type="checkbox" checked="true" name="attr_details-flag"/><span>i</span>
            <div class="wrapper">
                <input class="options-flag" type="checkbox" checked="true" name="attr_options-flag"/><span>y</span>
                <div class="options">
                    <input class='medium'  type="text" name="attr_name" placeholder="Name"/>
                    <textarea name="attr_description" placeholder="Description"></textarea>
                    <!--<input class="textline" type="text" name="attr_description"  placeholder="Description"/>-->
                    <label>Modifikator:</label>
                    <select name="attr_target">
                        +modoptions
                    </select>
                    <input class="number" type="number" name="attr_bonus" />
                </div>
                <div class="details">
                    <span class="text" name="attr_description"></span>
                </div>
            </div>
        </div>
    </fieldset>
</div>