<div class="box">      
    <h2>Charakter</h2>
    <img class="feather" src="http://www.handsongaming.de/public/images/hexxen/Feder.png" />
    <label>Jägerstufe</label>
    <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>
    <input class="number" type="number" name="attr_rank" />
    <span class="number" name="attr_rank"></span>
    <br />
    <label>Profession</label><input class="textline" type="text" name="attr_profession" />
    <br />
    <label>Motivation</label><input class="textline" type="text" name="attr_motivation" />
    <br />
    <label>Vorteil:</label><input class="textline" type="text" name="attr_advantage" />
    <br />
    <label>Verderbnis:</label><input class="number" type="number" name="attr_verderbnis" />
    <br>
    <label>Unterhalt</label><input class="number" type="number" name="attr_unterhalt" />
    <br />
    <label>Vermögen</label><input class="number" type="number" name="attr_vermoegen" />
</div>