@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap');

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: rgb(225, 236, 204);
	background: rgb(225, 236, 204);
	background: linear-gradient(90deg, rgba(36,66,0,1) 0%, rgba(225, 236, 204,1) 5%, rgba(225, 236, 204,1) 95%, rgba(36,66,0,1) 100%);
	min-width: 800px;
	font-family: 'Times New Roman', Times, serif;
}
/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-combat {
	display: none;
}
/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat {
	display: block;
}
/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	/*margin-bottom: 10px;*/
	text-align: left;
	font-family: 'UnifrakturMaguntia', cursive;
}

label {
	display: inline-block;
	width: 31%;
}
span {
	font-weight: bold;
	font-size: 1.2em;
}

input {
	display: inline-block;
	width: 66%;
	font-weight: bold;
	font-size: 16px;
}
fieldset {
	display: inline-block;
}
button {
	border-radius: 0;
	background: transparent;
	border: 2px solid black;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
	width: 96%;
	background: transparent;
	border: 0;
	outline: 0;
	background-attachment: local;
    background-image:
        repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 29px, black 29px, black 31px, rgba(255, 255, 255, 0) 31px);
    line-height: 31px;
    padding: 0px;
}
.sheet-2col
{
	width:calc(66% - 21px);
	display: inline-block;
    vertical-align: top;
}

/*-----radio boxes-----*/
/* -----Hide actual radio----- */
input.sheet-normal[type="checkbox"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
}
/* -----Fake radio----- */
input.sheet-normal[type="checkbox"] + span::before
{
    border: solid 2px black;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}
input.sheet-normal[type="checkbox"]:checked + span::before
{    
    content: "X";
}

input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
	font-family: 'Patrick Hand';
}
/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    border: solid 2px black;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}
input.sheet-normal[type="radio"]:checked + span::before
{    
    content: "X";
	font-family: 'Patrick Hand';
}
/* -----Hide actual radio----- */
input.sheet-rating[type="radio"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
	font-family: 'Patrick Hand';
}
/* -----Fake radio----- */
input.sheet-rating[type="radio"] + span::before
{
    border: solid 2px black;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "X";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-rating[type="radio"]:checked ~ input.sheet-rating[type="radio"] + span::before
{    
    content: "";
}
/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}
input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}
input.sheet-zero[type="radio"] + span::before
{
    color:black;
    content: "X";
    opacity: 0.25;
	font-size: 2em;
	font-family: 'Patrick Hand';
}
/* Targetted styling that only effects elements with these classes */
label.sheet-note {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}
label.sheet-text {
	width: auto;
	margin-left: 25px;
}
.sheet-attribute:before {
	content: "[+";
	font-style: normal;
}
.sheet-attribute {
	font-style: italic;
	font-variant: small-caps;
	font-family: 'Times New Roman', Times, serif;
}
.sheet-pureattribute {
	font-style: italic;
	font-variant: small-caps;
	font-family: 'Times New Roman', Times, serif;
}
.sheet-attribute:after {
	content: "]";
	font-style: normal;
}
label.sheet-short {
	width: 17%;
	border: 0;
	outline: 0;
}

input.sheet-short {
	width: 17%;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
input.sheet-medium {
	width: 31%;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
input.sheet-textline {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	padding-bottom: 0px;
  }

  input.sheet-number {
	border: 0;
	outline: 0;
	background: transparent;
	border: 2px solid black;
	border-radius: 0px;
  }
  
select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

.sheet-weapons {
	display: grid;
	grid-template-columns: 30px 150px 3.5em 3.5em 3.5em 3.5em 3.5em 3.5em auto;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-weapons > .sheet-item {
	  width: auto;
  }

  .sheet-skills {
	display: grid;
	grid-template-columns: auto 3.5em 3.5em 3.5em 3.5em ;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-skills > .sheet-item {
	  width: auto;
  }

  
  .sheet-influences {
	display: grid;
	grid-template-columns: 17% 180px 3.5em auto;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-influences > .sheet-item {
	  width: auto;
  }

  /* roll template */
  .sheet-rolltemplate-hxx table {
    width: 189px;
    height: 189px;
    padding: 2px;
    background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 189px 189px;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-rolltemplate-hxx th {
	color: rgb(112, 0, 0);
    padding: 15px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1.2em;
    text-align: left;
}
 
 
.sheet-rolltemplate-hxx td {
    font-size: 1.0em;
	vertical-align: top;
	padding-left: 15px;
}
 
.sheet-rolltemplate-hxx .sheet-resultname {
    font-size: 1.2em;
    text-align: left;
    color: rgb(112, 0, 0);
	padding-bottom: 2px;
	padding-left: 5px;
}
.sheet-rolltemplate-hxx .sheet-result {
    font-size: 1.2em;
    text-align: right;
    color: rgb(112, 0, 0);
	padding-bottom: 2px;
	padding-left: 5px;
}
 
.sheet-rolltemplate-hxx .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-hxx .inlinerollresult.fullcrit {
   color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-hxx .inlinerollresult.fullfail {
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-hxx .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}



.sheet-rolltemplate-ova .sheet-rtcard {
	counter-reset: hexxen janus esprit;
}

.sheet-rolltemplate-ova .sheet-rtcard::after {
	content: "Erfolge:" counter(hexxen) "Janus: " counter(janus) "Esprit: " counter(esprit);
  }

.sheet-rolltemplate-ova td,
.sheet-rolltemplate-ova th,
.sheet-rolltemplate-ova tr {
	padding: 3px;
}

.sheet-rolltemplate-ova caption {
	font-size: 1.5em;
	font-family: "Shadows Into Light";
	background-color: #801421;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	margin-bottom: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
}

.sheet-rolltemplate-ova th {
	height: 1.0em;
	font-size: 1.0em;
	border-collapse: collapse;
}

.sheet-rolltemplate-ova td {
	/*width: 75%;*/
	height: .75em;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-size: 0.875em;
}

.sheet-rolltemplate-ova tr:nth-child(even) {
	background-color: #eee2e2;
}

.sheet-rolltemplate-ova td.sheet-roll {
	width: 25%;
	text-align: right;
}

.sheet-rolltemplate-ova td.sheet-rresults {
	font-size: 0.95em;
	height: 0.95em;
}

.sheet-rolltemplate-ova td.sheet-fakeroll {
	text-align: right;
}

.sheet-rolltemplate-ova .sheet-rtcard .sheet-fakeroll .inlinerollresult{
	/*padding-right: 0px;*/
	text-align: right;
	color: #4d4d4d;
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	margin-right: -3px;
}

.sheet-rolltemplate-ova .inlinerollresult {
    background-color: transparent;
    color: #000000;
    border: none;
}

.sheet-rolltemplate-ova .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}

.sheet-rolltemplate-ova .inlinerollresult.fullfail {
    color: maroon;
    border: none;
}
 
.sheet-rolltemplate-ova .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}

.sheet-rolltemplate-ova .sheet-hexxen {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-ova .sheet-hexxen.sheet-success {
	counter-increment: hexxen;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-hexxen.sheet-esprit {
	counter-increment: esprit;
	background: url(http://i.imgur.com/fk5nuTh.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-hexxen.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}

.sheet-rolltemplate-ova .sheet-janus {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-ova .sheet-janus.sheet-success {
	counter-increment: janus;
	background: url(http://i.imgur.com/PBt16sl.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-janus.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}

.sheet-rolltemplate-ova .sheet-blessing {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-ova .sheet-blessing.sheet-success {
	counter-increment: hexxen;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-blessing.sheet-doublesuccess {
	counter-increment: hexxen +2;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-blessing.sheet-esprit {
	counter-increment: esprit;
	background: url(http://i.imgur.com/fk5nuTh.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-ova .sheet-blessing.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}
/*----------- End Roll Template --------------------*/