@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap');

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {

	background-color: rgb(225, 236, 204);
	background: rgb(225, 236, 204);
	background: linear-gradient(90deg, rgb(209, 235, 163) 0%,  rgb(245, 240, 225) 30%, rgb(245, 240, 225) 80%,rgb(109, 141, 51) 100%);
	/*background: linear-gradient(90deg, rgba(36,66,0,1) 0%, rgba(225, 236, 204,1) 5%, rgba(225, 236, 204,1) 95%, rgba(36,66,0,1) 100%);
	*/
	min-width: 800px;
	font-family: 'Times New Roman', Times, serif;
	border: 10px solid darkolivegreen;
	border-style: double;
}
/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-combat {
	display: none;
}
/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat {
	display: block;
}

/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	/*margin-bottom: 10px;*/
	text-align: left;
	font-family: 'UnifrakturMaguntia', cursive;
}

label {
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin: 0;
	padding: 4px 0px 4px 0px;
}
span {
	font-weight: bold;
	font-size: 1.2em;
}

input {
	display: inline-block;
	width: 66%;
	font-weight: bold;
	font-size: 16px;	
	border: 2px solid #333;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid #333;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	padding-bottom: 0px;
}
fieldset {
	display: inline-block;
}
button {
	height: 22px;
	border-radius: 0;
	background: transparent;
	border: 2px solid #333;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 1.2em;
	vertical-align: middle;
	padding-top: 0;
}
hr {
	border-top: 2px dashed rgb(0, 0, 0);
}
img {
	max-height: 100px;
}
div {
	border-color: #333;
}


textarea {
	resize: vertical;
	width: 96%;
	background: transparent;
	border: 0;
	outline: 0;
	background-attachment: local;
    background-image:
        repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 29px, black 29px, black 31px, rgba(255, 255, 255, 0) 31px);
    line-height: 31px;
    padding: 0px;
}

.sheet-2col
{
	width:calc(66% - 21px);
	display: inline-block;
    vertical-align: top;
}

/*-----radio boxes-----*/
/* -----Hide actual radio----- */
input.sheet-normal[type="checkbox"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
}
/* -----Fake radio----- */
input.sheet-normal[type="checkbox"] + span::before
{
    border: solid 2px #333;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}
input.sheet-normal[type="checkbox"]:checked + span::before
{    
    content: "X";
}

input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
	font-family: 'Patrick Hand';
}
/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    border: solid 2px #333;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}
input.sheet-normal[type="radio"]:checked + span::before
{    
    content: "X";
	font-family: 'Patrick Hand';
}
/* -----Hide actual radio----- */
input.sheet-rating[type="radio"]
{
    opacity: 0;
    width: 27px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 13px;
    margin: -14px;
    cursor: pointer;
    z-index: 1;
	font-family: 'Patrick Hand';
}
/* -----Fake radio----- */
input.sheet-rating[type="radio"] + span::before
{
    border: solid 2px #333;
    line-height: 16px;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "X";
    width: 23px;
    height: 16px;
	font-size: 2em;
	font-family: 'Patrick Hand';
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-rating[type="radio"]:checked ~ input.sheet-rating[type="radio"] + span::before
{    
    content: "";
}
/*#### Tooltip ###*/
.sheet-tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .sheet-tooltip .sheet-tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .sheet-tooltip:hover .sheet-tooltiptext {
	visibility: visible;
  }
  .sheet-tooltip:hover .sheet-tooltiptext:empty {
	visibility: hidden;
  }

/*### DICEBAR ###*/
/* -----Hide actual radio----- */
.sheet-dicebar,
.sheet-dicebarzero,
.sheet-singledie
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin: -8px;
    cursor: pointer;
    z-index: 1;
	font-family: 'Patrick Hand';
}
/* -----Fake radio----- */
.sheet-dicebar + span::before,
.sheet-dicebarzero + span::before,
.sheet-singledie + span::before
{
	border: solid 1px #333;
	border-radius: 4px;
	background-color: black;
    text-align: center;
    display: inline-block;
	vertical-align: middle;
    color:black;
    content: "";
    width: 16px;
    height: 16px;
	opacity: 0.1;
}
.sheet-hexdie + span::before
{    
	background-color:black;
}
.sheet-janusdiebonus + span::before
{    
	background-color:lightgrey;
}
.sheet-janusdiemalus + span::before
{    
	background-color:darkgrey;
}
.sheet-blessingdie
{    
	background-color:white;
}
.sheet-blooddie
{    
	background-color:maroon;
}
.sheet-elixirdie
{    
	background-color:cornflowerblue;
}
.sheet-ideachip + span::before
{
	border-radius: 10px;
	background-color:olivedrab;
}
.sheet-coupchip + span::before
{
	border-radius: 10px;
	background-color:maroon;
}
.sheet-dicebargroup:not(:hover) .sheet-reverse.sheet-dicebar + span::before
{    
	opacity: 0.1;
}
.sheet-dicebargroup:not(:hover) :not(.sheet-reverse).sheet-dicebar + span::before,
.sheet-dicebargroup:not(:hover) .sheet-reverse.sheet-dicebar:checked + span::before,
.sheet-dicebargroup:not(:hover) .sheet-reverse.sheet-dicebar:checked ~ .sheet-reverse.sheet-dicebar + span::before
{    
	opacity: 1;
}
.sheet-dicebargroup:not(:hover) .sheet-reverse.sheet-dicebar:checked ~ :not(.sheet-reverse).sheet-dicebar + span::before,
.sheet-dicebargroup:not(:hover) :not(.sheet-reverse).sheet-dicebar:checked ~ :not(.sheet-reverse).sheet-dicebar + span::before,
.sheet-dicebargroup:not(:hover) :not(.sheet-reverse).sheet-dicebarzero:checked ~ :not(.sheet-reverse).sheet-dicebar + span::before
{    
	opacity: 0.1;
}

.sheet-dicebargroup:hover .sheet-reverse.sheet-dicebar + span::before
{
	opacity: 0.25;
}
.sheet-dicebargroup:hover .sheet-dicebar:hover + span::before,
.sheet-dicebargroup:hover .sheet-reverse.sheet-dicebar:hover ~ .sheet-reverse.sheet-dicebar + span::before,
.sheet-dicebargroup:hover :not(.sheet-reverse).sheet-dicebar + span::before
{    
	opacity: 0.75;
}
.sheet-reverse.sheet-dicebar:hover ~ :not(.sheet-reverse).sheet-dicebar + span::before,
:not(.sheet-reverse).sheet-dicebar:hover ~ :not(.sheet-reverse).sheet-dicebar + span::before
{    
	opacity: 0.25;
}

/*------------empty traits-----------*/
input.sheet-dicebarzero[type="radio"]:checked + span::before
{
    opacity: 0;
}
input.sheet-dicebarzero[type="radio"]:hover + span::before
{
    opacity: 1;
}
input.sheet-dicebarzero[type="radio"] + span::before
{
	background-color:black;
	opacity: 0.25;
}

/*------------single die-----------*/
input.sheet-singledie:checked + span::before
{
    opacity: 1;
}
input.sheet-singledie:hover + span::before
{
    opacity: 0.75;
}
input.sheet-singledie + span::before
{
    opacity: 0.25;
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}
input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}
input.sheet-zero[type="radio"] + span::before
{
    color:black;
    content: "X";
    opacity: 0.25;
	font-size: 2em;
	font-family: 'Patrick Hand';
}




/* Targetted styling that only effects elements with these classes */
label.sheet-note {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}
label.sheet-text {
	width: auto;
	margin-left: 25px;
}
.sheet-attribute:before {
	content: "[+";
	font-style: normal;
}
.sheet-attribute {
	font-style: italic;
	font-variant: small-caps;
	font-family: 'Times New Roman', Times, serif;
}
.sheet-pureattribute {
	font-style: italic;
	font-variant: small-caps;
	font-family: 'Times New Roman', Times, serif;
}
.sheet-attribute:after {
	content: "]";
	font-style: normal;
}

div.sheet-sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	padding: 10px;
	/*background-color: rgba(225, 236, 204,1);*/
	background-color: rgb(245, 240, 225);
	border: 4px solid darkolivegreen;
	border-style: ridge;
	box-shadow: 5px 5px #888888;
	z-index: 10;
}
div.sheet-rolltestdice {
	right:0;
	width: auto;
	display: inline;
	position: absolute;
	margin-right: 10px;
}
div.sheet-rolltestdice::before {
	content: "";
}
div.sheet-rolltestdice button[type="roll"] {
	background-color: #333;
	padding-left: 20px;
	padding-right: 20px;
	color: burlywood;
}

button[type="roll"].sheet-directdieroller {
	border-radius: 6px;
	width: 20px;
	height: 20px;
}

label.sheet-short {
	width: 17%;
	border: 0;
	outline: 0;
}

input.sheet-short {
	width: 17%;
}
input.sheet-medium {
	width: 31%;
}

  input.sheet-number {
	  height:26px;
	outline: 0;
	background: transparent;
	border-radius: 0px;
  }
  
select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}
.sheet-attributes {
	display: grid;
	grid-template-columns: auto 3.5em 3.5em 3.5em;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-attributes > .sheet-item {
	  width: auto;
  }
  .sheet-ressources {
	display: grid;
	grid-template-columns: auto 7.5em 3.5em 3.5em;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-ressources > .sheet-item {
	  width: auto;
  }
  .sheet-skills {
	display: grid;
	grid-template-columns: auto 3.5em 3.5em 3.5em 3.5em ;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-skills > .sheet-item {
	  width: auto;
  }

  .sheet-weapons {
	display: grid;
	grid-template-columns: 30px 150px 2em 2em 3.5em 3.5em 2em 3.5em auto 3.5em auto auto;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-weapons > .sheet-item {
	  width: auto;
  }
.sheet-label {
	padding: 4px;
	vertical-align: middle;
}

  .sheet-influences {
	display: grid;
	grid-template-columns: 17% 180px 3.5em auto;
	grid-row-gap: 2px;
	grid-column-gap: 1rem;
  }
  .sheet-influences > .sheet-item {
	  width: auto;
  }

  /* roll template */



.sheet-rolltemplate-check .sheet-rtcard {
	counter-reset: hexxen janus esprit;
	width: auto;
    height: auto;
	padding: 0px;
	/*
	background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	*/
	border: 19px solid transparent;
	border-image: url(http://i.imgur.com/xBk4U1p.jpg) round;
	border-image-slice: 8% fill;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-spacing: 0;
}

 .sheet-rtresult_hexxen::after {
	content: counter(hexxen);
  }
.sheet-rtresult_janus::after {
	content: counter(janus);
  }
.sheet-rtresult_esprit::after {
	content: counter(esprit);
  }
  
.sheet-rolltemplate-check .sheet-hexxen {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-check .sheet-hexxen.sheet-success {
	counter-increment: hexxen;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-hexxen.sheet-esprit {
	counter-increment: esprit;
	background: url(http://i.imgur.com/fk5nuTh.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-hexxen.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}

.sheet-rolltemplate-check .sheet-janus {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-check .sheet-janus.sheet-success {
	counter-increment: janus;
	background: url(http://i.imgur.com/PBt16sl.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-janus.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}

.sheet-rolltemplate-check .sheet-blessing {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-check .sheet-blessing.sheet-success {
	counter-increment: hexxen;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-blessing.sheet-doublesuccess {
	counter-increment: hexxen +2;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-blessing.sheet-esprit {
	counter-increment: esprit;
	background: url(http://i.imgur.com/fk5nuTh.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-check .sheet-blessing.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}
/*----------- End Roll Template --------------------*/

/*----- Roll Template Blood ------*/
.sheet-rolltemplate-blood .sheet-rtcard {
	counter-reset: blood;
	width: auto;
    height: auto;
	padding: 0px;

	border: 19px solid transparent;
	border-image: url(http://i.imgur.com/xBk4U1p.jpg) round;
	border-image-slice: 8% fill;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-spacing: 0;
}

  .sheet-rtresult_blood::after {
	content: counter(blood);
  }


.sheet-rolltemplate-blood .sheet-blood {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-blood .sheet-blood.sheet-blood1 {
	counter-increment: blood;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-blood .sheet-blood.sheet-blood2 {
	counter-increment: blood 2;
	background: url(http://i.imgur.com/fk5nuTh.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-blood .sheet-blood.sheet-empty {
	counter-increment: none;
	background: url(http://i.imgur.com/JZfuoZr.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-blood .sheet-blood.sheet-blood3 {
	counter-increment: blood 3;
	background: url(http://i.imgur.com/PBt16sl.jpg) top left;
	background-size: 36px 36px;
}

/*----------- End Roll Template --------------------*/

/*----- Roll Template Elixir ------*/
.sheet-rolltemplate-elixir .sheet-rtcard {
	counter-reset: elixir;
	width: auto;
    height: auto;
	padding: 0px;

	border: 19px solid transparent;
	border-image: url(http://i.imgur.com/xBk4U1p.jpg) round;
	border-image-slice: 8% fill;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-spacing: 0;
}

  .sheet-rtresult_elixir::after {
	content: counter(elixir);
  }


.sheet-rolltemplate-elixir .sheet-elixir {
	display:inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.sheet-rolltemplate-elixir .sheet-elixir.sheet-elixir1 {
	counter-increment: elixir;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-elixir .sheet-elixir.sheet-elixir2 {
	counter-increment: elixir 2;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-elixir .sheet-elixir.sheet-elixir3 {
	counter-increment: elixir 3;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-elixir .sheet-elixir.sheet-elixir4 {
	counter-increment: elixir 4;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}
.sheet-rolltemplate-elixir .sheet-elixir.sheet-elixir5 {
	counter-increment: elixir 5;
	background: url(http://i.imgur.com/7J2SZzF.jpg) top left;
	background-size: 36px 36px;
}


/*----------- End Roll Template --------------------*/