<div class="box">
    <h2>Anhaltende Einflüsse</h2>
    <img class="feather" src="http://www.handsongaming.de/public/images/hexxen/Feder.png" />
    <div class="influences">        
        <label class="item">Äußerer Schaden</label>
        <span class="item">
            <input type="radio" class="sheet-rating sheet-zero" name="attr_outerdamage" value="0" checked="checked" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_outerdamage" value="1" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_outerdamage" value="2" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_outerdamage" value="3" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_outerdamage" value="4" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_outerdamage" value="5" /><span></span>
        </span>
        <input class="item textline" type="text" name="attr_outerdamage_conditions" placeholder="Zustand"/>

        <label class="item">Innerer Schaden</label>
        <span class="item">
            <input type="radio" class="sheet-rating sheet-zero" name="attr_innerdamage" value="0" checked="checked" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_innerdamage" value="1" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_innerdamage" value="2" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_innerdamage" value="3" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_innerdamage" value="4" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_innerdamage" value="5" /><span></span>
        </span>
        <input class="item textline" type="text" name="attr_innerdamage_conditions" placeholder="Zustand" />

        <label class="item">Malusschaden</label>
        <span class="item">
            <input type="radio" class="sheet-rating sheet-zero" name="attr_malusdamage" value="0" checked="checked" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_malusdamage" value="1" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_malusdamage" value="2" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_malusdamage" value="3" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_malusdamage" value="4" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_malusdamage" value="5" /><span></span>
        </span> 
        <input class="item textline" type="text" name="attr_malusdamage_conditions" placeholder="Zustand" />

        <label class="item">Lähmungsschaden</label>
        <span class="item">
            <input type="radio" class="sheet-rating sheet-zero" name="attr_paralysisdamage" value="0" checked="checked" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_paralysisdamage" value="1" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_paralysisdamage" value="2" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_paralysisdamage" value="3" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_paralysisdamage" value="4" /><span></span>
            <input type="radio" class="sheet-rating" name="attr_paralysisdamage" value="5" /><span></span>
        </span>
        <input class="item textline" type="text" name="attr_paralysisdamage_conditions" placeholder="Zustand" />
    </div>
</div>